block styles
  link(rel='stylesheet', href='/styles/index.css')
  

block content

  a(href="/portrait?of=amanda&scale=.25&style=Triangle&angle=90&background=fff")
    img(src="/images/resized/amanda.png")
  a(href="/portrait?of=ariya&style=Dots&angle=45&depth=4")
    img(src="/images/resized/ariya.png")
  a(href="/portrait?of=bcrypt&style=DotsRedux&scale=.25&angle=11&depth=2&palette=RGB&background=000")
    img(src="/images/resized/bcrypt.png")
  a(href="/portrait?of=ben&style=Blobs&angle=0&scale=.165&background=000")
    img(src="/images/resized/ben.png")
  a(href="/portrait?of=brandon&scale=.22&angle=45&background=74deec")
    img(src="/images/resized/brandon.png")
  a(href="/portrait?of=ebryn&scale=.28&background=fff&color=RGB&style=DotsRedux&depth=4")
    img(src="/images/resized/ebryn.png")
  a(href="/portrait?of=estark37&background=2c2f28&scale=.333&depth=3&angle=58")
    img(src="/images/resized/estark37.png")
  a(href="/portrait?of=floydophone&style=Blobs&depth=4&scale=.21&background=8da1cc&angle=18")
    img(src="/images/resized/floydophone.png")
  a(href="/portrait?of=furf&style=Blobs&angle=45&depth=3&scale=.21&background=000")
    img(src="/images/resized/furf.png")
  a(href="/portrait?of=jade&style=Dots&scale=.2&depth=6")
    img(src="/images/resized/jade.png")
  a(href="/portrait?of=james&background=4089b7&palette=RGB&angle=0&scale=.125&depth=6")
    img(src="/images/resized/james.png")
  a(href="/portrait?of=jason&depth=3&palette=RGB&scale=.125&angle=0")
    img(src="/images/resized/jason.png")
  a(href="/portrait?of=jdd&background=fff&scale=.5")
    img(src="/images/resized/jdd.png")
  a(href="/portrait?of=jkup&style=Triangle&angle=-90&scale=.09375&palette=RGB")
    img(src="/images/resized/jkup.png")
  a(href="/portrait?of=john&palette=RGB&scale=.25&depth=2&style=Dots&angle=90")
    img(src="/images/resized/john.png")
  a(href="/portrait?of=karo&background=fff")
    img(src="/images/resized/karo.png")
  a(href="/portrait?of=kelly&palette=RGB&scale=.2&background=39261e")
    img(src="/images/resized/kelly.png")
  a(href="/portrait?of=lin&style=Dots&depth=2&background=a5a5a5")
    img(src="/images/resized/lin.png")
  a(href="/portrait?of=mdo&angle=85&style=Dots")
    img(src="/images/resized/mdo.png")
  a(href="/portrait?of=mgonto&style=Triangle&background=e7e7e7&scale=.28")
    img(src="/images/resized/mgonto.png")
  a(href="/portrait?of=mike&style=Dots&depth=3&angle=0&color=RGB&scale=.21")
    img(src="/images/resized/mike.png")
  a(href="/portrait?of=mikeal&scale=.1875&style=Dots&background=fff")
    img(src="/images/resized/mikeal.png")
  a(href="/portrait?of=rey&background=10100e")
    img(src="/images/resized/rey.png")
  a(href="/portrait?of=sarah&style=Dots&angle=45&depth=4&palette=RGB")
    img(src="/images/resized/sarah.png")
  a(href="/portrait?of=steve&background=000&scale=.1875")
    img(src="/images/resized/steve.png")
  a(href="/portrait?of=substack&background=311919&angle=-15&depth=2")
    img(src="/images/resized/substack.png")
  a(href="/portrait?of=thealphanerd&style=Blobs&angle=45&depth=4&background=fed231")
    img(src="/images/resized/thealphanerd.png")
  a(href="/portrait?of=ThisIsJohnBrown")
    img(src="/images/resized/ThisIsJohnBrown.png")
  a(href="/portrait?of=victor&palette=RGB&scale=.125&angle=0")
    img(src="/images/resized/victor.png")
  a(href="/portrait?of=zqzoltan&style=Dots&angle=45&palette=RGB&background=fff&scale=.1875&depth=2")
    img(src="/images/resized/zqzoltan.png")
