extends layout

block styles
  link(rel='stylesheet', href='/styles/index.css')
  
block content
  a(href="/images/previews/amanda.png")
    img(src="/images/previews/amanda.png")
  a(href="/images/previews/ariya.png")
    img(src="/images/previews/ariya.png")
  a(href="/images/previews/bcrypt.png")
    img(src="/images/previews/bcrypt.png")
  a(href="/images/previews/ben.png")
    img(src="/images/previews/ben.png")
  a(href="/images/previews/brandon.png")
    img(src="/images/previews/brandon.png")
  a(href="/images/previews/ebryn.png")
    img(src="/images/previews/ebryn.png")
  a(href="/images/previews/estark37.png")
    img(src="/images/previews/estark37.png")
  a(href="/images/previews/floydophone.png")
    img(src="/images/previews/floydophone.png")
  a(href="/images/previews/furf.png")
    img(src="/images/previews/furf.png")
  a(href="/images/previews/jade.png")
    img(src="/images/previews/jade.png")
  a(href="/images/previews/james.png")
    img(src="/images/previews/james.png")
  a(href="/images/previews/jason.png")
    img(src="/images/previews/jason.png")
  a(href="/images/previews/jdd.png")
    img(src="/images/previews/jdd.png")
  a(href="/images/previews/jkup.png")
    img(src="/images/previews/jkup.png")
  a(href="/images/previews/john.png")
    img(src="/images/previews/john.png")
  a(href="/images/previews/karo.png")
    img(src="/images/previews/karo.png")
  a(href="/images/previews/kelly.png")
    img(src="/images/previews/kelly.png")
  a(href="/images/previews/lin.png")
    img(src="/images/previews/lin.png")
  a(href="/images/previews/mdo.png")
    img(src="/images/previews/mdo.png")
  a(href="/images/previews/mgonto.png")
    img(src="/images/previews/mgonto.png")
  a(href="/images/previews/mike.png")
    img(src="/images/previews/mike.png")
  a(href="/images/previews/mikeal.png")
    img(src="/images/previews/mikeal.png")
  a(href="/images/previews/rey.png")
    img(src="/images/previews/rey.png")
  a(href="/images/previews/sarah.png")
    img(src="/images/previews/sarah.png")
  a(href="/images/previews/steve.png")
    img(src="/images/previews/steve.png")
  a(href="/images/previews/substack.png")
    img(src="/images/previews/substack.png")
  a(href="/images/previews/thealphanerd.png")
    img(src="/images/previews/thealphanerd.png")
  a(href="/images/previews/ThisIsJohnBrown.png")
    img(src="/images/previews/ThisIsJohnBrown.png")
  a(href="/images/previews/victor.png")
    img(src="/images/previews/victor.png")
  a(href="/images/previews/zqzoltan.png")
    img(src="/images/previews/zqzoltan.png")
